:root {
  --focusShadow: 0 0 0 3px red;
  --sideNavWidth: calc(100% - 83vw);
  --focusColor: #fe7f0042;
  --manjari: "Manjari", sans-serif;
  // color: #a265f7
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-display: optional;
  background: white;
}

* {
  box-sizing: border-box;
}

.rotate {
  // animation: rotate infinite linear ease-in-out;
  animation: rotate 30s linear 3s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
// ::-webkit-scrollbar {
//   width: 12px;
//   height: 12px;
// }

// ::-webkit-scrollbar-track {
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, 0.2);
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-corner {
//   background: transparent;
// }
